body {
    background-color: #253551;
    color: #ffffff;
    margin: 0;
    letter-spacing: 1px;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #7c90c3;
    text-align: center;
    font-size: 5em;
}

h3 {
    color: #253551;
    font-size: 1.25em;
    font-weight: 700;
}

.main {
    font-family: "Nunito", sans-serif;
    font-size: 8em;
    font-weight: 700;
    font-style: normal;
    color: #9cb1e4;
    text-align: center;
}

p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav,
.footer,
.formy,
.submit {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.15em;
}

.submit {
    font-size: .75em;
}

.skip {
    background-color: #ffffff;
    padding: 8px;
    border: 3px solid #253551;
    text-decoration: none;
    color: #253551;
    position: absolute;
    top: 10px;
    left: -999px;
}

.skip:focus {
    left: 10px;
}

.container {
    margin: 20px;
}

p {
    line-height: 20px;
    margin-bottom: 25px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #253551;
    font-weight: 800;
}


.nav {
    display: flex;
    padding: 30px;
    background-color: #5f76b0;
    justify-content: space-between;
    margin-bottom: 40px;
    background-size: 100%;
    margin-left: 0px;
    margin-right: 0px;
    width: 0 auto;
}

div a {
    padding: 8px;
}

footer {
    background-color: #5f76b0;
    padding: 20px;
}


footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: .85em;
}

.instagram,
.phone,
.email,
.linkedin {
    width: 1.3rem;
}

footer {
    margin-top: 40px;
}

.copyright {
    font-size: 0.75em;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.sitelinks {
    flex: 4;
}

.sitelinks a {
    line-height: 25px;
}

.socials {
    flex: 2;
}


@media only screen and (max-width:800px) {

    .nav,
    .navleft a,
    .navright a {
        display: block;
        padding: 12px;
        line-height: 10px;
    }

    .nav {
        margin-bottom: 40px;
    }

    .main {
        font-size: 6em;
    }

    h2 {
        font-size: 4em;
    }

    .grid,
    .grid2,
    .grid3,
    .grid4,
    .grid5,
    .grid6,
    .grid7 {
        margin-right: 15px;
    }

    .socials img {
        margin-right: 15px;
        margin-bottom: 5px;
    }
}