body {background-color:#421389;
color:#FFFFFF;}
a {color:#4d22a3;}
h1,h2 {color:#e3b8ff;}
nav {background-color:#e3b8ff;}
nav a {color:#561baf;}
nav a:hover {background-color:#ffffff;}
nav {padding:10px;}
nav {margin-bottom:30px;}
@media only screen and (min-width:390px){
    nav a {width:100%; display:block; margin:10px;}
    nav span {display:none;}
}